@use 'sass:math';

.encryption-key-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  @extend %pda-border-radius;
  @include pda-border($border-purple);
  padding: 0.25rem;
  background-color: $background-black;
  color: $text-white;
  height: 100%;
  min-height: 40vh;
  box-shadow: 0 8px 10px 0 rgba(12, 15, 54, 0.37);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);

  input[type='text'] {
    @extend %pda-border-radius;
    @include pda-border($border-purple);
    outline: none;
    padding: 0.25rem 0.5rem;
    font-size: 1.25rem;
    font-weight: 500;
    background: transparent;
    box-shadow: none;
    color: $text-white;
  }

  &__button {
    @extend %pda-border-radius;
    @include pda-border($border-purple);
    background-color: $background-purple-dark;
    font-size: 1rem;
    font-weight: 500;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    color: $text-purple-light;

    &:hover {
      background-color: #4d4b64;
    }
  }
}
