.pda-device {
  background: linear-gradient(
    109.33deg,
    #131416 12.77%,
    #1b1818 27.54%,
    #242424 53.55%,
    #2b2c31 82.27%,
    #313131 87.69%
  );
  box-shadow:
    0px 4px 4px rgba(0, 0, 0, 0.25),
    0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 0.8rem;
  width: 100%;
  max-width: $pda-width-desktop;
  height: $pda-height-desktop;
  border-radius: 10px;
  border: 1px solid #131416;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 0.8rem;
  grid-template-rows: 1fr 40px;
  position: relative;
  z-index: 2;

  @media only screen and (max-width: 880px) {
    height: auto;
    max-width: unset;
    padding: 0.6rem;
    row-gap: 0.6rem;
    grid-template-rows: 1fr auto;
  }
}

