$background-black: #131416;
$background-purple-light: #484759;
$background-purple-dark: #3D3C4A;
$border-purple: #6F718A;
$text-white: #FFFFFF;
$text-yellow: #FF9B00;
$text-green: #36E025;
$text-purple-light: #B0B2C7;
$text-purple-dark: #3D3C4A;
$text-purple-secondary: #6F718A;
$primary-font: 'Ubuntu', sans-serif;
$secondary-font: "Sura", sans-serif;

$pda-width-desktop: 1000px;
$pda-height-desktop: calc($pda-width-desktop / 2); // 54vh;