$background-black: #131416;
$background-purple-light: #484759;
$background-purple-dark: #3d3c4a;
$border-purple: #6f718a;
$text-white: #ffffff;
$text-yellow: #ff9b00;
$text-green: #36e025;
$text-purple-light: #b0b2c7;
$text-purple-dark: #3d3c4a;
$text-purple-secondary: #6f718a;
$primary-font: 'Ubuntu', sans-serif;
$secondary-font: 'Sura', sans-serif;

$pda-width-desktop: 1000px;
$pda-height-desktop: calc($pda-width-desktop / 2); // 54vh;
