* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;

  &::-webkit-scrollbar {
    width: 14px;
  }

  &::-webkit-scrollbar-track {
    background: lighten($background-black, 5%);
  }

  &::-webkit-scrollbar-thumb {
    background: $background-purple-dark;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: lighten($background-purple-dark, 5%);
  }
}

html,
body {
  width: 100%;
}

h1 {
  font-family: $font-primary;
  font-weight: 400;
}

h2 {
  font-family: $font-primary;
  font-weight: 400;
}

h3 {
  font-family: $font-secondary;
  font-weight: 400;
}

h4 {
  font-family: $font-secondary;
}

h5 {
  font-family: $font-secondary;
}

h6 {
  font-family: $font-secondary;
}

p {
  color: $text-white;
  font-family: $font-secondary;
  font-size: 0.9rem;
  font-weight: 400;
}

li {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
  font-family: $font-secondary;
}

main {
  width: 100%;
  height: 100vh;
  background-image: url('/main-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center bottom;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0 0.5rem;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.25);
    z-index: 1;
  }

  @media only screen and (max-width: 880px) {
    height: 100%;
    min-height: 100vh;
    padding: 2.5rem 0.5rem;
  }

  @media only screen and (max-width: 600px) {
    padding: 0;
  }
}

.text-yellow {
  color: $text-yellow;
}
